/*start here*/
footer {
  box-shadow: 0 -4px 3px rgba(0, 0, 0, 0.075);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 5;
}

[class^="apexcharts-text"],
[class^="apexcharts-title"],
.apexcharts-legend-text {
  color: #fff !important;
  fill: #fff !important;
}

/*.container {
  padding-top: 80px;
}*/

.capitalize {
  text-transform: capitalize;
}

.error {
  border: #ff0000 1px solid;
}

.hide {
  display: none;
}

.btn-group.form-control {
  padding: 0;

}

.pointer {
  cursor: pointer;
}

.yellowStar {
  color: yellow;
}



.cartPanel .list-group {
  max-height: 400px;
  overflow-y: auto;
}


div.animated[role="alert"] {
  margin-top: 5%;
  position: fixed;
  z-index: 150;
  width: 100%;
}


img.inventoryImg {
  /* max-width: 150px; */
  max-height: 75px;
  width: 100%;
  padding: 0px 2px;
  overflow: hidden;
  border-radius: 5px;
  border: solid #fff 1px;
}

.inventoryWrapper {
  display: inline-block;
  width: 75px;

  overflow: hidden;
  background-color: #fff;
  border-radius: 5px;
  margin: 2px;
}

.inventoryWrapper .btn {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.inventoryWrapper button {

  width: 100%;
  display: block;
  font-size: small;
}

/*START SOP TEASER CSS*/
.productPreviewImg {
  width: 200px;
}

.cardImgWrapper {
  max-height: 200px;
  overflow: hidden;
}

.previewPanel {
  height: 255px;

}

.row.navPadding.animated.bounceInUp {
  margin-bottom: 5rem;
}

.previewPanel .text-primary {
  color: #fff !important;
}

.productPreviewImg {
  width: 200px;
}

.productThumb.active {
  border: 5px solid #80ff80;
}

.productThumb {
  height: 60px;
  overflow: hidden;
  padding: 0;
  background-color: #ccc;
  border: 5px solid #ccc;
}

.selectedProdActiveImg {
  padding-left: 0px;
}

.itemDescription ul li,
.decimal {
  list-style-type: decimal;
}

.productThumb img {
  width: 200px;
  /* position: absolute;*/
  top: 0;
  bottom: 0;
  margin: auto;
}


/*start loader animation*/
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #333;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media print {

  footer,
  nav,
  .noPrint {
    display: none;
  }

  body,
  li {
    background-color: #fff !important;
    color: #000 !important;
  }

  .printOnly {
    display: block;
  }


}




/*END PRINT MEDIA*/



/*START MOBILE CSS*/

.desktopOnly {
  display: block;
}

.mobileOnly {
  display: none !important;
}


.mobileBlock {
  width: auto;
}

@media (max-width: 992px) {
  .mobileShow {
    display: block !important;
  }


  .desktopOnly {
    display: none !important;
  }

  .mobileOnly {
    display: block;
  }

  .mobileBlock {
    display: block;
    width: 100%;
  }

  .productPreviewImg {
    width: 150px;
  }

  footer {

    position: inherit;

  }



}

/*end 768*/

/*start 767
@media (max-width: 767px) {
  .badge {
    display: block;
    width: 100%;
  }

  .container.my-5 {
    margin-bottom: 8rem !important;
  }
}*/
